<%= form_for @task, remote: true do |f| %>
  <div class="modal-body">
        <div class="form-group">
          <%= f.label 'Título' %>
          <%= f.text_field :title, class: 'form-control form-control-sm', required: true %>
        </div>
        <div class="form-group">
          <%= f.label 'Descrição' %>
          <%= f.text_area :description, class: 'form-control form-control-sm h-150px', rows: 6, required: true %>
        </div>
        <div class="form-group">
          <%= f.label 'Responsável' %>
          <select name="task[responsible_id]" id="task_responsible_id" class="form-control">
            <% Person.all.each do |responsible| %>
              <option value="<%= responsible.id %>">
                <%= responsible.name %>
              </option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <%= f.label 'Período' %>
          <%= f.text_field :date_range, class: "form-control input-sm  date-range-picker", id: 'task_date_range' %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :start, value: (f.object.start.present? ? f.object.start.strftime('%d/%m/%Y:%M:%H') : Date.today.strftime('%d/%m/%Y:%M:%H')), class: 'form-control input-sm start_hidden' %>
          <%= f.hidden_field :end, value: (f.object.end.present? ? f.object.end.strftime('%d/%m/%Y:%M:%H') : Date.today.strftime('%d/%m/%Y:%M:%H')), class: 'form-control input-sm end_hidden' %>
          <%= f.label 'Prioridade' %>
          <%= f.select(:priority, [['Baixa', 0], ['Média', 1], ['Alta', 2]], {}, {class: 'form-control'}) %>
        </div>
  </div>
  <div class="modal-footer">
    <div class="form-actions">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Excluir',
                  task,
                  method: :delete,
                  class: 'btn btn-danger',
                  data: { confirm: 'Are you sure?' },
                  remote: true unless @task.new_record? %>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
  </div>
  <% end %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("#task_responsible_id").select2({
            placeholder: "Selecione um responsável",
            allowClear: true,
            theme: "bootstrap"
        });
    });
</script>