<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png', sizes: '16x16' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--*******************
    Preloader start
********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

      <!--**********************************
          Nav header start
      ***********************************-->
      <div class="nav-header">
        <div class="brand-logo">
          <%= link_to root_path do %>
            <b class="logo-abbr">
              <%= image_tag 'logo.png', alt: '', "data-turbolinks-track" => true %>
            </b>
            <span class="logo-compact">
              <%= image_tag 'logo-compact.png', alt: '', "data-turbolinks-track" => true %>
            </span>
            <span class="brand-title">
              <%= image_tag 'logo-text.png', alt: '', "data-turbolinks-track" => true %>
            </span>
          <% end %>
        </div>
      </div>
      <!--**********************************
          Nav header end
      ***********************************-->

      <!--**********************************
          Header start
      ***********************************-->
      <div class="header">
        <div class="header-content clearfix">

          <div class="nav-control">
            <div class="hamburger">
              <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
          </div>
          <div class="header-left">
          </div>
          <div class="header-right">
            <ul class="clearfix">
              <li class="icons dropdown d-none d-md-flex">
                <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                  <span>Português</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                </a>
                <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                  <div class="dropdown-content-body">
                    <ul>
                      <li><a href="javascript:void()">Português</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="icons dropdown">
                <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                  <span class="activity active"></span>
                  <%= image_tag 'user/1.png', height: '40', width: '40', alt: '', "data-turbolinks-track" => true %>
                </div>
                <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="app-profile.html"><i class="icon-user"></i> <span><%= current_user.person.name %></span></a>
                      </li>

                      <hr class="my-2">
                      <li>
                        <a href="page-lock.html"><i class="icon-lock"></i> <span>Alterar senha</span></a>
                      </li>
                      <li>
                        <%= link_to destroy_user_session_path, method: :delete do %>
                          <i class="icon-key"></i> <span>Sair</span>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--**********************************
          Header end ti-comment-alt
      ***********************************-->

      <!--**********************************
          Sidebar start
      ***********************************-->
      <div class="nk-sidebar">
        <%= render 'shared/sidebar' %>
      </div>
      <!--**********************************
          Sidebar end
      ***********************************-->

      <!--**********************************
          Content body start
      ***********************************-->
      <div class="content-body">
        <%= yield %>
        <div id='remote_container'></div>
      </div>
      <div class="footer">
        <div class="copyright">
          <p>CopyLeft :D Developed by <%= link_to 'Jhonatan I. Nascimento', 'github.com/jinascimento' %> 2019</p>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'custom.min', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'settings', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'gleek', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'bootstrap-daterangepicker/daterangepicker.js', "data-turbolinks-track" => true %>



  </body>
</html>
